<!-- Config settings consumed by the Artifactory automation Scripts -->
<settings>
  <prod>
    <url>artifactory.smith/artifactory</url>
    <ou>ou=Role Groups,ou=Security,dc=smith,dc=com</ou>
  </prod>
  <oat>
    <url>artifactory.smith/artifactory/artifactory</url>
    <ou>ou=Role Groups,ou=Security,dc=smith,dc=com</ou> 
  </oat>
  <test>
    <url>artifactory.smith/artifactory/artifactory</url>
    <ou>ou=Role Groups,ou=Security,dc=smith,dc=com</ou> 
  </test>
  <repo>
    <packageType>maven</packageType>
    <packageType>gradle</packageType>
    <packageType>ivy</packageType>
    <packageType>sbt</packageType>
    <packageType>helm</packageType>
    <packageType>cocoapods</packageType>
    <packageType>opkg</packageType>
    <packageType>rpm</packageType>
    <packageType>nuget</packageType>
    <packageType>cran</packageType>
    <packageType>gems</packageType>
    <packageType>npm</packageType>
    <packageType>bower</packageType>
    <packageType>debian</packageType>
    <packageType>composer</packageType>
    <packageType>pypi</packageType>
    <packageType>docker</packageType>
    <packageType>vagrant</packageType>
    <packageType>gitlfs</packageType>
    <packageType>go</packageType>
    <packageType>yum</packageType>
    <packageType>conan</packageType>
    <packageType>chef</packageType>
    <packageType>puppet</packageType>
    <packageType>generic</packageType>
  </repo>
</settings>